@charset "utf-8";
body {
    height: auto;
    background-color: #fff;
}

.checkboxT {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/checkboxT.png) no-repeat 0 0 / 20px 20px;
}

.checkboxF {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/checkboxF.png) no-repeat 0 0 / 20px 20px;
}

/*顶部头像start*/
.top-portrait {
    background-color: #44b181;
    padding-bottom: 10px;
}

.top-portrait div {
    text-align: center;
    color: #fff;
    line-height: 40px;
}

.top-portrait span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/Lportrait1.png) no-repeat center;
    background-size: 50px 50px;

}

.top-portrait .portrait-name {
    font-size: 30px;
    font-weight: 800;
}

.top-portrait .type {
    font-size: 22px;
}

.top-portrait .type i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/sprites.png) no-repeat -188px -14px / 200px 200px;
    margin: 0 5px 2px 15px;
}



.top-portrait .cont {
    font-size: 18px;
}

/*顶部头像end*/

/*内容区域*/
main {
    color: #999;
    padding: 0 20px;
}

.main-top-cont {
    height: 50px;
    width: 100%;
    line-height: 50px;
    position: relative;
}

.main-top-cont div:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

.main-top-cont div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    color: #e94c37;
    font-size: 20px;
    font-weight: 600;
}

main form textarea {
    width: 100%;
    border-radius: 5px;
    height: 99px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid rgb(221, 221, 221);
}

main .text-num {
    position: relative;
    top: -30px;
    right: 8px
}

.Main-Checked {
    margin-top: 3px;
}

.Main-Checked span {
    font-size: 14px;
    position: relative;
    top: -4px;
    padding-left: 3px;
}

main input {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    background-color: #44b181;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 15px auto 15px;
    display: block;
}

.main-cccBox {
    background-color: rgb(235, 235, 235);
    margin: 0 -20px 0;
    padding: 0 20px;
    line-height: 50px;
}

.main-cccBox span {
    padding: 0 5px;
}

.main-cccBox span:nth-child(2) {
    color: #44b181;
    border-left: 1px solid #999999;
}

.main-portrait {
    width: 34px;
    height: 34px;
    background: url(../images/Lportrait2.png) no-repeat center;
    background-size: 34px 34px;
    margin: 12px 10px 0 0;
}

.main-bottom-cont {
    overflow: hidden;
}

.main-bottom-cont h5 {
    color: #35424b;
    margin-bottom: 0;
    font-size: 16px;
}

.main-bottom-cont span {
    padding: 0 10px;

}

.main-bottom-cont span:nth-of-type(1) {
    border-right: 1px solid #999;
}

.wrap {
    background-color: #fff;
}